/* background colors / body */
body {
  font-family: 'Open Sans', sans-serif !important;
  color: #111111;
  background-color: #FCFFF5;
}

input.highlight-error {
  background-color: #FF9999;
}
input:not(.highlight-error) {
  transition: all 0.5s;
  /*transition: all 0.5s;*/
}
