@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min.css");
@import url("http://fonts.googleapis.com/css?family=Open+Sans:300,600,700");

/* background colors / body */
body {
  font-family: 'Open Sans', sans-serif !important;
  color: #111111;
  background-color: #FCFCFC;
}

input.highlight-error {
  background-color: #FF9999;
}
input:not(.highlight-error) {
  transition: all 0.5s;
}

#gen-word-select {
    width: 25%;
}
#gen-title-start {
  width: 75%;
}

.bad-start,
.bad-whole {
  color: red;
}

#gen-controls {
  padding-top: 20px;
}

#gen-len-slider-label {
  padding-left: 20px;
}

#gen-len-slider .slider-selection {
	background: #BABABA;
}
